<!DOCTYPE html>
<html>
<head>
    <title><%=blocks.title%></title>

    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="./css/style.css"/>

    <script src="./bower_components/jquery/dist/jquery.js" defer></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.js" defer></script>

    <%-blocks.scripts%>
</head>
<body>
<header class ="jumbotron">
    <div class="container">
    <div class="row row-header">
        <h1> <%-blocks.title%> </h1>
        <p>
            So I hope you can see the content of the current project directory.
            You can click on each item and see the selection and its path above.
            Besides, each folder’s content display toggles.
            And finally you can see the file content by double clicking on it.
            That's all I have been able to finish, but I promise to upgrade this app soon.
        </p>
    </div>
    </div>
</header>
<section class="container">

    <%-body -%>
</section>
<footer>
    <%-blocks.footer%>
    <div>**So I hope you can see the content of the current project directory.
        You can click on each item and see the selection and its path above.
        Besides, each folder’s content display toggles.
        And finally you can see the file content by double clicking on it.
        That's all I have been able to finish, but I promise to upgrade this app soon.</div>
</footer>
</body>
</html>