<!DOCTYPE html>
<html>
<head>
    <title><%=blocks.title%></title>

    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="./css/style.css"/>

    <script src="./bower_components/jquery/dist/jquery.js" defer></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.js" defer></script>

    <%-blocks.scripts%>
</head>
<body>
<header class ="jumbotron">
    <div class="container">
    <div class="row row-header">
        <h1> <%-blocks.title%> </h1>
        <h3> <%-blocks.descriptionTitle%></h3>
        <p> <%-blocks.description%> </p>
    </div>
    </div>
</header>
<section class="container">
    <%-body -%>
</section>
<footer>
    <%-blocks.footer%>
</footer>
</body>
</html>